<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.tyhmeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Favor de ingresar su usuario y contraeña</legend>
        <form action="">
            <label for="">usuario</label>
            <input type="text">
            <label for="">contraeña</label>
            <input type="password">
        </form>

        <input type="submit" value="ingresar">
    </fieldset>
</body>
</html>